<%- include('header'); -%>
<%- include('navbar'); -%>
<div class="jumbotron">
  <h1>Welcome</h1>
  <h3><%=user.voterName%> </h3>
  <p class="lead">You have successfully Logged in to the portal</p>
  <a class="btn btn-lg btn-primary" href="/vote/<%=user.voterId%> " role="button">Click here to get started</a>
</div>
<%- include('footer'); -%>